/* ============================================*/
/* General */
/* ============================================*/

.ptn {padding-top: 0px !important;}
.pbn {padding-bottom: 0px !important;}

/* ============================================*/
/* Time */
/* ============================================*/

#time .bar { background-color:#000000 !important; border-top-color: #000000; border-bottom-color: #000000;}

#time {background-color: #000000 !important;}
#time .scroll {
  display: flex;
  vertical-align: middle;
  text-align: center;
  width: 100% !important;
  height: 100% !important;
  background-color:#000000 !important;
}
#time .scroll h1 {xfont-size:33vw;}

/* ============================================*/
/* Config */
/* ============================================*/

#config .item.range {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
