/* Empty. Add your own CSS if you like */
#time {
    background-color: #000000 !important;
}

#time .bar { background-color:#000000 !important; border-bottom-color: #000000; background-image: none !important; }
#time .scroll-content {background-color:#000000 !important;}

#config .item.range {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.ptn {padding-top: 0px !important;}
.pbn {padding-bottom: 0px !important;}
#time .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
#time .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
